doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Current Stock - MWF
    link(rel="stylesheet", href="/css/stock.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")

  body
    header
      h1 Current Stock
      nav
        a(href="/dashboard") Dashboard
        a(href="/addstock") Add Stock
        //- a(href="/stocklist") Stock List
        a(href="/addsales") Add Sales
        a(href="/saleslist") Sales List
        a(href="/getusers") Users
        a(href="/logout") Logout

    // ------------------ Inventory List Card ------------------
    section.inventory-list
      h2 Current Stock Inventory

      table#stockTable
        thead
          tr
            th Product Name
            th Product Type
            th Supplier Name
            th Cost Price
            th Selling Price
            th Quantity
            th Color
            th Measurements
            th Stock Status
            th Date Bought
            th Edit
            th Delete
        tbody
          if items && items.length
            each item in items
              tr
                td #{item.productName}
                td #{item.productType}
                td #{item.supplierName}
                td #{item.costPrice}
                td #{item.sellingPrice}
                td #{item.quantity}
                td #{item.color || '-'}
                td #{item.measurements || '-'}
                td
                  if item.quantity <= 5
                    span.badge.bg-warning.text-dark Low Stock
                  else
                    span.badge.bg-success.text-white In Stock
                td #{moment(item.datebought).format("DD-MM-YYYY")}
                td
                  a.btn.btn-warning(href=`/editstock/${item._id}`)
                    i.fas.fa-edit
                    | Edit
                td
                  form(method='POST', action='/deletestock')
                    input(type='hidden', name='id', value=item._id)
                    button.btn.btn-danger(type='submit')
                      i.fas.fa-trash
                      | Delete
          else
            tr
              td.text-center(colspan="12") No stock items available.

      a.btn.btn-dark.mt-3(href="/addstock") Add New Stock

    footer
      p © 2025 Mayondo Wood and Furniture Ltd

    script(src="/js/stock.js")
